<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="dataBaseName" value="bd_local"/>
  </appSettings>
  <connectionStrings>
    <add name="bd_local" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BugTracker;Integrated Security=true;"/>
  </connectionStrings>
</configuration>
